@media screen and (max-widht: 1200px) {
  #hero p {
    font-size: 5px;
  }
  #hero h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-widht: 768px) {
  #about p {
    text-align: justify !important;
  }
}

@media screen and (max-widht: 576px) {
  #hero img {
    width: 21%;
  }
}

@media screen and (max-widht: 350px) {
}
